{{> title_home }}
{{> nav_admin }}

<div class="container">
  <div class="jumbotron mt-2">
    <h3 align="center">Orders</h3>
    {{#each rows}}
      <div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
        <div class="card bg-secondary text-light center">
          <div class="card-body">
            <p class="card-title">Name:           {{first_name}}{{last_name}}</p>
            <p class="card-title">E-mail:         {{email}}</p>
            <p class="card-title">Product  :      {{model_name}}</p>
            <p class="card-title">Quantity:       {{quantity}}</p>
            <p class="card-title">Order Date:     {{moment purchase_date local=true add='hours' amount='8' format="llll"}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{> footer }}