<div class="container">
  <div class="jumbotron mt-2">
    <h1 class="mt-3 text-center">{{model_name}}</h1>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto" >
        <div class="card bg-secondary text-light center"  height = "430" width="573">
          <img class="card-img-top" src="{{picture}}" alt="" >
          <div class="card-body" >
            
            <h6 class="card-title">Brand:      {{brand_name}}</h6>
            <h6 class="card-title">Price: ₱          {{price}}.00</h6>
            <h6 class="card-title">Warranty: 6 months parts and 24 months service</h6>
            <h6 class="card-title">Category:   {{category_name}}</h6>
            <h6 class="card-title">Specifications: {{specification}}</h6>
          </div>
        </div>
      </div>
  </div>
</div>