<div class="container">
  <div class="jumbotron mt-2">
    <h3 class="mt-3 text-center">{{rows.model_name}}</h3>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto" style="margin: 10px;">
        <div class="card bg-secondary text-light center"  height = "430" width="573">
          <img class="card-img-top" src="{{rows.picture}}" alt="" >
          <div class="card-body" >
            {{!-- {{#each rows.[1]}} --}}
            <h6 class="card-title">Brand:      {{rows.brand_name}}</h6>
            {{!-- {{/each}} --}}
            <h6 class="card-title">Price: ₱          {{number rows.price}}.00</h6>
            <h6 class="card-title">Warranty: 6 months parts and 24 months service</h6>
            {{!-- {{#each rows.[0]}} --}}
            <h6 class="card-title">Category:   {{rows.category_name}}</h6>
            {{!-- {{/each}} --}}
            <h6 class="card-title beng" >Specifications: {{rows.specification}}</h6>
          </div>
        </div>
      </div>
  </div>
</div>