]<div class="container pb-5 mb-5">
	<div class="jumbotron mt-2">
		<h2>Update Product</h2>
		<form method="POST" action="/updateproduct/{{rows.id}}">
			<div class="controls">
				<div class="form-group">
					<label class="control-label" for="name">Product Name *</label>
					<div>
						<input id="name" name="name" type="text" value="{{rows.model_name}}" class="form-control" required="">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="specification">Specification *</label>
					<div>
						<input id="specification" name="specification" type="text" value="{{rows.specification}}" class="form-control" required="">
					</div>
				</div>

				<div class="form-group">
    				<label class="control-label" for="price">Price *</label>
    				<div>
						<input id="price" value="{{rows.price}}" name="price" type="number" class="form-control" required="">
					</div>
				</div>

				<div class="form-group">
		    		<label class="control-label" for="picture">Product Image *</label>
		    		<div>
						<input id="picture" value="{{rows.picture}}" name="picture" type="text" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="category">Category *</label>
					<div>
						<select class="form-control" id="category_id" name="category_id" required="">
								<option value="{{rows.category_id}}">{{rows.category_name}}</option>
						</select>
					</div>
				</div>

				<div class="form-group">
		    		<label class="control-label" for="brand">Brand *</label>
		    		<div>
						<select class="form-control" id="brand_id" name="brand_id" required="">
								<option value="{{rows.brand_id}}">{{rows.brand_name}}</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="text-center">
						<button type="submit" class="btn btn-primary btn-lg" title="Submit">Update Product</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>